@model DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="dashboard">
    @Html.Partial("_DashboardTables", Model)
</div>

<script type="text/javascript">
    setInterval(function () {
        $('#dashboard').load('@Url.Action("Dashboard", "Home")');
    }, 10000); 
</script>